﻿
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
    @foreach (dynamic item in ViewBag.List)
    {
    <h3 style="color:#616161;font-family:sans-serif;font-size:24px;margin-bottom:0;margin-top:0">@item.Title</h3>
    <p style="color:#616161;font-family:sans-serif">@item.Body</p>
    <a style="color:#1B85E4;font-family:sans-serif;text-decoration: none" href=@item.Link>@item.LinkDesc</a>
        <hr>

    }

    @*<div>
        <h3 style="color:#616161;font-family:Calibri;font-size:24px;margin-bottom:0;margin-top:0">About Felixfor</h3>
        <p style="color:#616161;font-family:Calibri">Felixfor is establishab in 2017 by 4 entrepreneus in Silicon Walley, to provide end to end solutions both public transit operators and passengers in public transit business</p>
        <a style="color:#1B85E4;font-family:Calibri;text-decoration: none" href="www.felixfor.com">www.felixfor.com</a>
    </div>
    <hr>
    <div>
        <h3 style="color:#616161;font-family:Calibri;font-size:24px;margin-bottom:0;margin-top:0">About Felixfor</h3>
        <p style="color:#616161;font-family:Calibri">Felixfor is establishab in 2017 by 4 entrepreneus in Silicon Walley, to provide end to end solutions both public transit operators and passengers in public transit business</p>
        <a style="color:#1B85E4;font-family:Calibri;text-decoration: none" href="http://www.felixfor.com">www.felixfor.com</a>
    </div>*@
</body>