﻿
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Credit Card Validation Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/files/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/files/css/demo.css">
</head>
<body>
    <div class="container-fluid" id="contentDiv" name="contentDiv">
  
        <div class="creditCardForm">
            <div class="heading">
                <h1>Confirm Purchase</h1>
            </div>
            <div class="payment">
                <form id="form" name="form">
                    <div>
                        <label for="ticketname">Ticket Name: @ViewBag.TicketName</label>
                        <label for="quantity">Quantity: @ViewBag.Quantity</label>
                        <label for="cost">Cost: @ViewBag.TicketCost</label>
                    </div>
                    <div class="form-group owner">
                        <label for="owner">Owner</label>
                        <input type="text" class="form-control" id="owner" name="owner" value="Ebubekir Güler">
                    </div>
                    <div class="form-group CVV">
                        <label for="cvv">CVV</label>
                        <input type="number" class="form-control" id="cvv" name="cvv" value="134">
                    </div>
                    <div class="form-group" id="card-number-field">
                        <label for="cardNumber">Card Number</label>
                        <input type="number" class="form-control" id="cardNumber" name="cardNumber" value="5253492512856233">
                    </div>
                    <div class="form-group" id="expiration-date">
                        <label>Expiration Date</label>
                        <select name="expiry_month" id="expiry_month">
                            <option value="01">January</option>
                            <option value="02">February </option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select name="expiry_year">
                            <option value="16"> 2016</option>
                            <option value="17"> 2017</option>
                            <option value="18"> 2018</option>
                            <option value="19"> 2019</option>
                            <option value="20"> 2020</option>
                            <option value="21"> 2021</option>
                        </select>
                    </div>

                    <input type="text" style="display:none" id="Token" name="Token" value=@ViewBag.Token>
                    <input type="text" style="display:none" id="Lang" name="Lang" value=@ViewBag.Lang>
                    <input type="text" style="display:none" id="Quantity" name="Quantity" value=@ViewBag.Quantity>
                    <input type="text" style="display:none" id="TicketDefinitionId" name="TicketDefinitionId" value=@ViewBag.TicketDefinitionId>

                </form>
                <div class="form-group" id="pay-now">

                    <button type="submit" class="btn btn-default" id="form_SubmitBtn">Confirm</button>
                    <div class="loader" id="loaderIcon"></div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/files/js/jquery.payform.min.js" charset="utf-8"></script>
    <script src="/files/js/script.js"></script>
</body>
<script>
   $("#loaderIcon").hide();
    $('#form_SubmitBtn').click(function (e) {
        document.getElementById("form_SubmitBtn").disabled = true;
        $("#loaderIcon").show();
        $.ajax({
            url: 'do',
            type: 'POST',
            data: JSON.stringify($(form).serializeArray()),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: {
                "Authorization": "Bearer " + $('#Token').val()
            },
            beforeSend: function () {
            },
            success: function (data) {
                document.getElementById("contentDiv").innerHTML = data.Success == true ? "<div class=\"jumbotron text-center\"> <h1 class=\"display-3\">Thank You!</h1> <hr /> </div>" : "<div class=\"jumbotron text-center\"> <h1 class=\"display-3\">error!</h1> <hr /> </div>";
                setTimeout(function () {
                    postMessage('{"Success":true, "Value":"Seçmiş olduğunuz biletler satın alınmıştır.", "Results": []}');
                }, 0);
                //$("#contentDiv").innerHTML(data.Success == true ? "Successful" : "Error");
            },
            error: function (err) {
                document.getElementById("contentDiv").innerHTML = "Error";

                setTimeout(function () {
                    postMessage('{"Success":false, "Value":"","IsTokenValid":false, "Results": []}');
                }, 200);
            }
        });
    });

</script>