﻿
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Credit Card Validation Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/files/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/files/css/demo.css">
</head>
<body>
    <div  id="contentDiv" name="contentDiv">
  
        <div class="creditCardForm">
            <div class="heading">
                <h1>Confirm Purchase</h1>
            </div>
            <div class="payment">
                <form id="form" name="form">
                    <div>
                        <label for="ticketname">Card Number: @ViewBag.CardNumber</label>
                    </div>
                    <div class="form-group CVV">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" >

                    </div>

                    <input type="text" style="display:none" id="Token" name="Token" value=@ViewBag.Token>
                    <input type="text" style="display:none" id="Lang" name="Lang" value=@ViewBag.Lang>
                    <input type="text" style="display:none" id="uid" name="uid" value=@ViewBag.Uid>

                </form>
                <div class="form-group" id="pay-now">

                    <button type="submit" class="btn btn-default" id="form_SubmitBtn">Confirm</button>
                    <div class="loader" id="loaderIcon"></div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/files/js/jquery.payform.min.js" charset="utf-8"></script>
    <script src="/files/js/script.js"></script>
</body>
<script>
   $("#loaderIcon").hide();
    $('#form_SubmitBtn').click(function (e) {
        document.getElementById("form_SubmitBtn").disabled = true;
        $("#loaderIcon").show();
        $.ajax({
            url: 'doRecharge',
            type: 'POST',
            data: JSON.stringify($(form).serializeArray()),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: {
                "Authorization": "Bearer " + $('#Token').val()
            },
            beforeSend: function () {
            },
            success: function (data) {
                document.getElementById("contentDiv").innerHTML = data.Success == true ? "<div class=\"jumbotron text-center\"> <h1 class=\"display-3\">Thank You!</h1> <hr /> </div>" : "<div class=\"jumbotron text-center\"> <h1 class=\"display-3\">error!</h1> <hr /> </div>";
                setTimeout(function () {
                    postMessage('{"Success":true, "Value":"Seçmiş olduğunuz biletler satın alınmıştır.", "Results": []}');
                }, 0);
                //$("#contentDiv").innerHTML(data.Success == true ? "<div class=\"jumbotron text-center\"> <h1 class=\"display-3\">Thank You!</h1> <hr /> </div>" : "Error");
            },
            error: function (err) {
                document.getElementById("contentDiv").innerHTML = "<div class=\"jumbotron text-center\"> <h1 class=\"display-3\">error!</h1> <hr /> </div>";
            }
        });
    });

</script>