﻿
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Credit Card Validation Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/files/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/files/css/demo.css">
</head>
<body>
    <div class="container-fluid" id="contentDiv" name="contentDiv">

        <div class="loader" id="loaderIcon"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/files/js/jquery.payform.min.js" charset="utf-8"></script>
    <script src="/files/js/script.js"></script>
</body>
<script>
        setTimeout(function () {
            postMessage('{"Success":false, "Value":"","IsTokenValid":false, "Results": []}');
        }, 200);

</script>